.formContainer {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}

.form {
    background-color: #D3E5D2;
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}

.background {
    background-color: #EDF4EC;
    height: 100vh;
}

.submitButton {
    background-color: #6F9C74 !important;
    color: white;
    width: 100%;
}

.editListingHeader {
    font-size: 30px;
    margin-left: 15%;
    margin-top: 2%;
    font-weight: 600;
}

.backToManageListingsButton {
    margin-left: 15%;
    margin-top: 5%;
    background-color: #4f5650 !important;
}

.instructions {
    margin-bottom: 15px;
    font-weight: 600;
}

.listingContainer {
    margin-left: 20%;
    margin-top: 2%;
}

.card {
    flex-direction: row !important;
}

.card img {
    /* width: 22%; 
    height: auto; */
    width: 210px;
    height: 260px;
}

.price {
    font-size: 30px;
    color: #095203;
    /* float: right; */
    margin-top: 30px;
}

.rightSection {
    /* float: right; */
    text-align: right;
}

.listingButtons {
    margin-left: 70%;
    margin-top: 2%;
    float: right;
}

.sellerName {
    color: #606060;
    font-size: 18px;
    text-align: right;
}