.listingContainer {
    margin-left: 20%;
    margin-top: 10%;
}

.card {
    flex-direction: row !important;
}

.card img {
    /* width: 22%; 
    height: auto; */
    width: 210px;
    height: 260px;
}

.price {
    font-size: 30px;
    color: #095203;
    float: right;
    margin-top: 60px;
    
    
}

.rightSection {
    float: right;
    margin-left: 200px;
    text-align: left;
}

.sellerName {
    background-color: #FFFF;
    font-size: 18px;
    margin-left: 90px;
    text-align: right;
}