#bookCycle {
  font-family: fantasy;
  font-size: xxx-large;
  color: rgb(7, 67, 7);
  padding-right: 10px;
}

.navibar {
  background-color: white;
}

.NavContainer {
  font-size: xx-large;
  height: 6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  padding-left: 50px;
  padding-right: 0px;
  background-color: rgb(245, 240, 227);
}

#home {
  color: rgb(7, 67, 7);
  font-size: larger;
  padding: 10px;
}

#login {
  color: rgb(7, 67, 7);
  font-size: larger;
  padding: 10px;
}

#register {
  color: rgb(7, 67, 7);
  font-size: larger;
  padding: 10px;
}

#aboutus {
  color: rgb(7, 67, 7);
  font-size: larger;
  padding: 10px;
}

#seracbox {
  padding-left: 100px;
  padding-right: 300px;
}

#all3 {
  padding-left: 100px;
  padding-right: 200px;
}

.seracbox {
  color: rgb(11, 11, 100);
  background-color: rgb(144, 39, 179);
}
